.acMobile-list-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-inline: 12px;
    gap: 12px;
    margin-top: 12px;
}

.acMobile-list img {
    width:100%;
    height: 100%;
}
